{% extends "core/base.html" %}
{% load static %}
{% block title %}Play Quiz{% endblock title %}
{% block css %}
<style>
  .nav-link{
    width
  }
</style>
{% endblock css %}
{% block content %}
{% include "home/user-nav.html" %}
<main>

  {% comment %} <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section> {% endcomment %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/geography.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Challenge yourself with our geography quiz and discover fascinating facts about countries, landmarks, and natural wonders around the world.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'launchquiz' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="geography"  class="btn btn-sm btn-outline-secondary ">Take Quiz</button>
                  </form>
                  <form action="{% url 'rankings' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="geography" class="btn btn-sm btn-outline-secondary ">Rankings</button>
                  </form>
                  </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/sports.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Kick off your sports knowledge with our exciting sports quiz! Test your expertise across various disciplines from soccer to basketball and beyond.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'launchquiz' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="sports"  class="btn btn-sm btn-outline-secondary ">Take Quiz</button>
                  </form>
                  <form action="{% url 'rankings' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="sports" class="btn btn-sm btn-outline-secondary ">Rankings</button>
                  </form>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/history.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Delve into the past with our immersive history quiz. From wars and revolutions to cultural movements, test your knowledge of humanity's journey through time.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'launchquiz' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="history"  class="btn btn-sm btn-outline-secondary ">Take Quiz</button>
                  </form>
                  <form action="{% url 'rankings' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="history" class="btn btn-sm btn-outline-secondary ">Rankings</button>
                  </form>                
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/movies.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Grab some popcorn and take our movies quiz! Explore genres, famous directors, and memorable quotes as you challenge yourself on all things film.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'launchquiz' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="movies"  class="btn btn-sm btn-outline-secondary ">Take Quiz</button>
                  </form>
                  <form action="{% url 'rankings' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="movies" class="btn btn-sm btn-outline-secondary ">Rankings</button>
                  </form>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/music.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Strike a chord with our music quiz! From chart-toppers to underground hits, explore the melodies and rhythms that define different musical eras.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'launchquiz' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="music"  class="btn btn-sm btn-outline-secondary ">Take Quiz</button>
                  </form>
                  <form action="{% url 'rankings' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="music" class="btn btn-sm btn-outline-secondary ">Rankings</button>
                  </form>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/literature.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Dive into the world of literature with our captivating quiz. From Shakespearean sonnets to modern classics, explore the depths of literary genius.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{% url 'launchquiz' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="literature"  class="btn btn-sm btn-outline-secondary ">Take Quiz</button>
                  </form>
                  <form action="{% url 'rankings' %}" method="post">{% csrf_token %}
                    <button type="submit" name="quiz" value="literature" class="btn btn-sm btn-outline-secondary ">Rankings</button>
                  </form>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/geography.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Challenge yourself with our geography quiz and discover fascinating facts about countries, landmarks, and natural wonders around the world.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Take Quiz</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Rankings</button>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/geography.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Challenge yourself with our geography quiz and discover fascinating facts about countries, landmarks, and natural wonders around the world.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Take Quiz</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Rankings</button>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/quiz_types/geography.jpg' %}" width="100%" height="225 " class="bd-placeholder-img card-img-top"  alt="" srcset="">
            <div class="card-body">
              <p class="card-text">Challenge yourself with our geography quiz and discover fascinating facts about countries, landmarks, and natural wonders around the world.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Take Quiz</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Rankings</button>
                </div>
                <small class="text-body-secondary">10 questions</small>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>
<script type="text/javascript"> 
  $(document).ready(function(){
    window.history.forward(); 
    function noBack() { 
        window.history.forward(); 
    }
  })
   
</script> 
{% endblock content %}